GROQ_API_KEY=

# 주의: '비밀번호' 부분은 팀에서 정한 실제 DB 비밀번호로 바꿔주세요!
# 이 비밀번호는 DB 컨테이너 설정에 맞게 기입
DB_GENERAL_PASSWORD=
DB_SENSITIVE_PASSWORD=
DB_AUDIT_PASSWORD=

# 윈도우(내 컴퓨터)에서 도커 DB에 접속하는 주소
DATABASE_URL_GENERAL=postgresql://heartbeat:CHANGE_ME@localhost:5432/heartbeat_general
DATABASE_URL_SENSITIVE=postgresql://heartbeat:CHANGE_ME@localhost:5433/heartbeat_sensitive
DATABASE_URL_AUDIT=postgresql://heartbeat:CHANGE_ME@localhost:5434/heartbeat_audit

JWT_SECRET=your_secret_key_here

SUMMARY_API_URL=